:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
html,body
{
    min-height:100%;
    font-family: 'Inter var', 'Inter', sans-serif;
}
.p-component, .p-component * {
  font-family: 'Inter var', 'Inter', sans-serif;
}
